@page
@using GamingSiteProject.data
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
<div class="container" align="center" style="align-items: stretch">
    <header class="h1">GamingSite</header>
    <p>
        @Html.TextBox("BrugerID", null, new {@class = "m-auto", @placeholder = "BrugerID"})
    </p>
    <p>
        @Html.TextBox("Password", null, new {@class = "m-auto", @placeholder = "Password"})
    </p>
    <p>
        <button type="button" class="m-auto" style="border-color: black" onclick="window.location.href = '/Login'">Login</button>
    </p>
    <p>
        <button type="button" class="m-auto" style="border-color: black" onclick="window.location.href = 'Brugere/OpretBruger'">Ingen Bruger?</button>

    </p>
</div>

<p>@Model.Bruger</p>


<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Navn</th>
        <th>Kodeord</th>
        <th>BrugerType</th>
    </tr>
    </thead>
    <tbody>
        @foreach (Bruger bruger in @Model.BrugerListe.Bruger)
        {
        <tr>
            <td>@bruger.Id</td>
            <td>@bruger.Navn</td>
            <td>@bruger.Kodeord</td>
            <td>@bruger.Type</td>
        </tr>
        }
    </tbody>
</table>
</body>
